@model CoreOneAuthentication.Models.User
@{
    ViewData["Title"] = "Unauthorized";
}
<h2>Unauthorized</h2>
<form method="post">
    <label asp-for="UserName" />
    <input asp-for="UserName" />
    <br />
    <label asp-for="Password" />

    <input asp-for="Password" type="password" />
    <input type="submit" name="" value="Ok" />
</form>